@import '../../utils/app-theme.less';

.bottomBarContainer {
  min-height: 30px;
  border-top: 1px solid @grey-border;
  display: flex;
  align-items: center;
}

.branchName {
  display: flex;
  align-items: center;
  padding: 0 7px;
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}