.directoryList {
  &Container {
    padding: 15px 0;
  }
  &Item {
    padding: 10px;
    font-size: 15px;
    line-height: 2;
    &:hover {
      cursor: pointer;
    }
  }
}

.repoIcon {
  margin-right: 7px;
}