@import '../../utils/app-theme.less';

.directoryList {
  &Container {
    padding: 15px 0;
  }
  &Item {
    padding: 10px;
    font-size: 15px;
    line-height: 2;
    color: @inactive-element-color;
    display: flex;
    align-items: center;
    border-left: 4px solid transparent;
    &:hover {
      cursor: pointer;
      color: @black-base;
    }
    &Count {
      margin-left: auto;
      padding-right: 16px;
      font-weight: 600;
    }
  }
}

.directoryName {
  margin-left: 7px;
}

.repoIcon {
  margin-right: 7px;
}

.unicornDirectory {
  color: @black-base;
  border-color: @primary-color;
  .directoryListItemCount {
    color: @primary-color;
  }
}