@import '../../utils/app-theme.less';

.directoryList {
  &Container {
    padding: 15px 0;
  }
  &Item {
    padding: 10px;
    font-size: 15px;
    line-height: 2;
    color: @inactive-element-color;
    &:hover {
      cursor: pointer;
      color: @black-base;
    }
    &Count {
      float: right;
      padding-right: 16px;
      font-weight: 600;
    }
  }
}

.repoIcon {
  margin-right: 7px;
}

.unicornDirectory {
  color: @black-base;
  .directoryListItemCount {
    color: @primary-color;
  }
}